Makefile
/Makefile.am
Makefile.in
aclocal.m4
autom4te.cache
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.ac
depcomp
doc/autodocs
install-sh
*.pot
libtool
ltconfig
ltmain.sh
missing
mkinstalldirs
stamp-h*
Makefile.am.common
/testsuite/config/
/testsuite/run/
testsuite/*.exp
testsuite/*.log
testsuite/raw.tmp.*
testsuite/tmp.err.*
testsuite/tmp.out.*
testsuite/yast2-printer.sum
testsuite/yast2-printer.test/
tools/.deps
tools/basicadd_displaytest
tools/*.o
.yardoc/
*.ami
*.bz2
.dep
tmp.*
*.log
