*.ami
*.bz2
*.exp
*.log
*.pot
.dep
/.yardoc
/Makefile.am
Makefile
Makefile.am.common
Makefile.in
aclocal.m4
autom4te.cache
compile
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.ac
coverage/
depcomp
doc/autodocs
install-sh
libtool
ltconfig
ltmain.sh
missing
mkinstalldirs
stamp-h*
testsuite/*.err.*
testsuite/*.sum
testsuite/run/*.sh
tmp.*
tools/
