[Desktop Entry]
Type=Application
Categories=Qt;X-SuSE-YaST;X-SuSE-YaST-Hardware;

X-KDE-ModuleType=Library
X-KDE-RootOnly=true
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2
X-SuSE-YaST-Call=printer

X-SuSE-YaST-Group=Hardware
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=all
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstClonable=true
X-SuSE-YaST-AutoInstRequires=lan

Icon=yast-printer
Exec=/sbin/yast2 printer 

Name=Printer
GenericName=Configure your printer.
Name[cs]=Tiskárna
GenericName[cs]=Nakonfigurujte si tiskárnu.
Name[de]=Drucker
GenericName[de]=Konfiguration des Druckers.
Name[es]=Impresora
GenericName[es]=Configurar impresora:
Name[hu]=Nyomtatók
GenericName[hu]=Nyomtató beállítása
Name[it]=Stampante
GenericName[it]=Configurate la Vostra stampante.
Name[ko]=프린터
GenericName[ko]=프린터 설정
GenericName[nl]=Configureer uw printer.
Name[pt]=Impressora
GenericName[pt]=Configurar sua impressora
Name[sk]=Tlačiareň
GenericName[sk]=Konfigurácia tlačiarne.
Name[sv]=Skrivare
GenericName[sv]=Ställ in skrivare
Name[el]=Εκτυπωτής
GenericName[el]=Ρύθμιση εκτυπωτή.
Name[fr]=Imprimante
GenericName[fr]=Configurer votre imprimante.
Name[ja]=プリンター
GenericName[ja]=プリンターを設定する。
Name[lt]=Spausdintuvas
GenericName[lt]=Konfigūruoti savo spausdintuvą.
Name[sl]=Tiskalnik
GenericName[sl]=Nastavite tiskalnik.
Name[tr]=Yazıcı
GenericName[tr]=Yazıcınızı yapılandırın
X-KDE-SubstituteUID=true
